{{ $body_bg_img_url := "" }}
{{ with resources.Get "images/paper-tiling.jpg" }}
    {{ $body_bg_img_url = .RelPermalink }}
{{ end }}
{{ $font_family_base := ""}}
{{ with resources.Get "fonts/Monocraft.ttf" }}
    {{ $font_family_base = .RelPermalink }}
{{ end }}

{{ $vars := dict
  "body_bg_img_url"     (or (.Site.Params.Style.body_bg_img_url | relURL) $body_bg_img_url)
  "font_family_base"    $font_family_base
  "font_family"         (or .Site.Params.Style.font_family "Monocraft")
}}

{{ return $vars }}